@model IEnumerable<ExamPlatform.Models.Candidate>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<!-- template from http://getbootstrap.com/getting-started -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Candidate Details</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style type="text/css">

        .field-validation-error {
            color: #ff0000;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Candidates</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhnNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnivName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClgName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhnNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnivName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClgName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CandidateId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CandidateId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CandidateId })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>